body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.hero{
    max-width: 100%;
    height: 100vh;
    background: url(images/bg1.jpg);
    background-size: cover; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 90px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    font-size: 17px;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #994d00;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #4d2600;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 20px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #996433;
    border: 2px solid #0d0d0d;
}
.btn:hover{
    background: #4d2600;
    border-color: #0d0d0d;
    text-color: #0000;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title{
    color: #1f1f25;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #4d2600 20.69%, #996433 50.19%,#994d00 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p{
    width: 75%;
    font-size: 22px;
    color: #0d0d0d;
    margin-top: 25px;
    margin-bottom: 40px;
}
.statement{
	margin-top: 10%;
}
.statement title{
	font-size: 50px;
	margin-left: 35%;
}
.statement p{
	margin: 0px;
	padding: 0px;
	font-size: 185px;
	margin-left: 40%;
	margin-top: -6%;
}


/*Home Section*/
.home{
	height: 50%;
	width: 100%;
	padding: 100px 0px;
    max-width: 100%;
    background-color: #1a0c03;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.home-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 25%;
	margin-top: -10px;

}
.home-statement p{
	margin: 0px;
	padding: 0px;
	margin-top: -10%;
}
.column {
    float: left;
    width: 48%;
    padding: 10px;
    height: 200px;
    margin-top: 50px;
}
.column p{
    color: white;
	font-size: 17px;
	margin-bottom: 20px;
}
.column h2{
	margin-top: 20px;
	font-size: 55px;
	margin-bottom: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* About Us Section*/
.about{
	width: 100%;
	padding: 30px 0px 30px 0px;
    background-image: linear-gradient(110deg, #AB8964 20.69%, #ECDFD2 50.19%,#BFA183 79.69%);
}
.images{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
    padding: 30px;
}

.photo img { 
    width: 175px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.about-text h2{
	color: black;
	font-size: 60px;
	text-transform: capitalize;
    margin-top: -20px;
	margin-bottom: 20px;
    margin-left: -20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.button{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #896B58;
    border: 2px solid #0d0d0d;
    position: center;
}
.button:hover{
    background: #4d2600;
    border-color: #0d0d0d;
    text-color: #0000;
}

/*Services Section*/
.service{
	background: #1a0c03;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 385px;
	width: 335px;
	padding: 20px 35px;
	background: #291306;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #7D5033;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #D5BBA0;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#7D5033;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #996433;
	cursor: pointer;
}

/*Portfolio Section*/
.portfolio{
	background-image: linear-gradient(110deg, #AB8964 20.69%, #ECDFD2 50.19%,#BFA183 79.69%);
	width: 100%;
	padding: 100px 0px;
}
.title h1{
	color: black;
	font-size: 95px;
	margin: 0px auto;
	text-align: center;
    margin-top: -30px;
    margin-bottom: -45px;
}
.title p{
	color: #996433;
	font-size: 100px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
    margin-top: -25px;
    margin-bottom: -30px;
}
.box1{
	display: grid;
    grid: 300px / auto auto auto;
    grid-gap: 50px;
	justify-content: center;
	align-items: center;
	min-height: 400px;
    margin-top: 75px;
}
.box-card{
	height: 350px;
	width: 300px;
	padding: 20px 35px;
	background: #896B58;
    border: 2px solid #0d0d0d;
	border-radius: 20px;
	margin: 15px;
    margin-top: 55px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.img p{
	color: #FBF3E4;
	font-size: 16px;
	line-height: 27px;
    margin-top:10px;
	margin-bottom: 25px;
}
.box-card .button{
	background-color:#4B230A;
    border: 2px solid #0d0d0d;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 10px;
	transition: .4s; 
}

/*Contact Section*/
.contact-me{
	position: relative;
	width: 100%;
	height: 300px;
	background: #1a0c03;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-me p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
.contact-me p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #996433;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
